.coins {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.coin-logo {
    width: 40px;
    vertical-align: middle;
}

.crypto-table {
    width: 60vw;
    border-collapse: collapse;
    margin-top: 20px;
}

th {
    text-align: left;
    padding: 20px;
    font-size: 18px;
    color: #666;
}

td {
    padding: 12px 8px;
    border-bottom: 1px solid  #333;
    font-size: 18px;
}


.pagination-controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination-controls button {
    margin: 0 5px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
  }
  
  .pagination-controls button.active {
    background-color: #007bff;
    color: #fff;
  }
  
  .pagination-controls button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  .search-bar {
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  